body{
    padding: 0;
    margin: 0;
}
.nav-menu:hover{
    background-color: #4447e9;
    border-radius: 5px;
    color: white;
    font-size: larger;
    padding-left: 10px;
}
.vs-title{
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}
.img-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin-bottom: 45px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    
}
.contact-us-title{
    font-size: 60px;
    font-weight: bold;
}
.about-us-title{
    font-size: 38px;
    font-weight: bold;
    color:#2338f3;
}
.subtitle{
    font-size: 30px;
}
.img-blur{
    filter: blur(8px);
    -webkit-filter: blur(6px);
}
.about-font{
    font-size: 55px;
    justify-content: left;
}
.img-hover:hover{
    background-color: rebeccapurple;
}
.card-res:hover{
    border: 2px solid rgb(129, 218, 107);
    cursor: pointer;
}
a{
    text-decoration: none;
}
/* .waviy {
    position: relative;
  }
.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  } */